/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

*{
  box-sizing: border-box;
}



header, footer{
  border: 3px solid white;
  height: 100px;
  clear: both;
  text-decoration: none;
}

section{
  height: 450px;
  width:25%;
  border: 3px solid white;
  float: left;


}

   nav {

  color: blue;
  width: 100%;
  float: left;
  clear: both;
  font-size: 1.5rem;

  height: 75px;}
  
  nav li {
  border: none;
  }
  li {
  list-style: none;
  color: white;
  float: left;
  padding: 10px;
  text-decoration: none;
}
  
  li > img {
  height: 30px;
  
  }
h1{font-size: xx-large;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;

}

h4{  font-family: 'Oswald', sans-serif;

}


.pic{   height: 450px;
  width: 40%;
  border: 3px solid white;
  float: left;


}
.Left{  height: 450px;
  width:17.5%;
  border: 3px solid white;
  float: left;


}

.ListLeft{ float: right; 

}

.item{ padding-left: 350px;
  
}

.RightText{ height: 450px;
  width:35%;
  border: 3px solid white;
  float: left;}
 
 a { color: #304659;}
a {
  text-decoration: none;
  color: grey;  
  font-family: 'Merriweather', serif;
  font-family: 'Rowdies', cursive;

}
  

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
